extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    div
      a(href="/logout") ログアウト
      p #{user.username}
      p #{user._json.avatar_url}
    div
      each channel in channels
        a(href=`/channels/${channel.channelId}`) #{channel.channelName}
  else
    a(href="/login") ログイン
  

